body,
html {
  width: 100%;
  height: 100%;
}

/* Intro
================================= */
.intro-header {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  /*color: #404040;*/
  background: url(../img/intro-back.jpg) no-repeat center;
}
.intro-msg {
  position: relative;
  padding-top: 20%;
  padding bottom: 20%;
}
.intro-divider {
  width: 480px;
}

.intro-buttons li{
  margin-bottom: 10px;
  padding: 0;
}

/* Carousel
================================= */
.portfolio-carousel {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}
.projects-title {
  text-align: center;
}
.carousel-indicators .active{
  background-color: #474747;
}
.carousel-indicators li{
  border-color: #989898;
}

/* About Me
================================= */
.about h2{
  margin-bottom: 20px;
}
.name-kevin{
    font-size: 20pt;
}
.portrait {
  width: 200px;
  float: left;
  padding-right: 20px;
  padding-bottom: 10px;
}
.about-divider {
  width: 140px;
  border-top: 1px solid #989898;
  padding: 10 px;
}
